<div>

  <label for="name">Enter character name: </label>
  <select #charType>
      <option value="Rick">Rick</option>
      <option value="Michonne">Michonne</option>
      <option value="Daryl">Daryl</option>
    </select>
  <br>
  <label for="weapon">Choose your weapon: </label>
  <select #weaponType>
    <option value="Gun">Gun</option>
    <option value="Sword">Sword</option>
    <option value="Machete">Machete</option>
  </select>
  <br>
  <button (click)="createChar(charType.value, weaponType.value)" routerLink="../startgame" class="btn btn-primary">Create</button>
</div>